nav {
    background-color: lightgray;
}

ul {
    text-align: center;
    list-style: none;
}

li {
    display: inline-block;
    padding: 20px 15px;
}

li a {
    color: #009900;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 15px;
}

li a:hover {
    color: white;
    background-color: #009900;
    border-radius: 5px;
}