{% extends "base.html" %}
{% block content %}

        <!-- Profile Page -->
        <section id="profile-page" class="details">
            <div class="profile-information">
                <h3>{{ user.first_name}} {{ user.last_name }}</h3>
                <p class="img"><img src="{{ user.image_url}}" alt=""></p>
                <div class="actions">
                    <a class="button" href="{% url 'edit profile' %}">Edit</a>
                    <a class="button" href="{% url 'delete profile' %}">Delete</a>
                </div>
            </div>
        </section>
{% endblock %}
