{% extends "base.html" %}
{% load static %}
{% block content %}

    <!-- Start Profile Details Section -->
    <div class="profile">

        <!-- Start Profile Personal Data Section -->
        <div class="profile-data">
            <div class="profile_img">
                <div class="image">

                    <!-- Profile Image -->
                    {% if petstagramuser.profile_picture %}
                        <img src="{{ petstagramuser.profile_picture }}" alt="img8">
                    {% else %}
                        <img src="{% static 'images/person.png' %}" alt="img8">
                    {% endif %}
                </div>
            </div>
            <div class="personal">
                <div class="edit">
                    <!-- User Username -->
                    <p>{{ petstagramuser.username }}</p>

                    <!-- IF the viewer is the owner of the profile -->
                    {% if request.user == petstagramuser %}
                        <!-- Link to Edit Profile Page -->
                        <a href="{% url 'edit profile' request.user.pk %}">
                            <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}" alt="edit button">
                        </a>

                        <!-- Link to Delete Profile Page -->
                        <a href="{% url 'delete profile' request.user.pk %}">
                            <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="bin button">
                        </a>
                    {% endif %}
                    <!-- End IF the viewer is the owner of the profile -->

                </div>
                <div class="data">

                    <!-- Total Number of Photos by the User -->
                    <span>{{ petstagramuser.photo_set.count }}</span>
                    <p>photos</p>

                    <!-- Total Number of Pets owned by the User -->
                    <span>{{ petstagramuser.pet_set.count }}</span>
                    <p>pets</p>

                    <!-- Total Number of Likes for the User -->
                    <span>{{ total_likes_count }}</span>
                    <p>likes</p>
                </div>
                <!-- User First and Last Name IF Added -->
                <h3 class="names">{{ petstagramuser.get_user_name }}</h3>

                <!-- User Email Address -->
                <p class="email">{{ petstagramuser.email }}</p>

                <!-- User Gender IF Added -->
                <p class="gender">{{ petstagramuser.gender }}</p>
            </div>
        </div>
        <!-- End Profile Personal Data Section -->

        <!-- Start Pets Data Section -->
        <div class="pets">
            <div class="statuses">

                {% for pet in petstagramuser.pet_set.all %}
                    <!-- Start 1st Pet Details Page -->
                    <!-- Link to First Pet Details Page -->
                    <a href="{% url 'details pet' petstagramuser.username pet.slug %}">
                        <div class="head-pet">
                            <div class="status">
                                <div class="image">
                                    <!-- Pet Image -->
                                    <img src="{{ pet.personal_photo }}"
                                         alt="pet img">
                                </div>
                            </div>
                            <!-- Pet Name -->
                            <p>{{ pet.name }}</p>
                        </div>
                    </a>
                    <!-- End 1st Pet Details Page -->
                {% endfor %}

            </div>
        </div>
        <!-- End Pets Data Section -->
        {% if petstagramuser.photo_set.all %}
        <!-- Start Last Uploaded Photos Section -->
        <div class="pet-photos">

            <!-- Link to Last Uploaded Pet Photo -->
            <a href="{% url 'details photo' last_photo.pk %}">
                <!-- Pet Photo -->
                <img src="{{ last_photo.photo.url }}"
                     alt="pet img">
            </a>
            {% for photo in petstagramuser.photo_set.all %}
                <!-- Link to Uploaded Pet Photo -->
                <a href="{% url 'details photo' photo.pk %}">
                    <!-- Pet Photo -->
                    <img src="{{ photo.photo.url }}"
                         alt="pet img">
                </a>
            {% endfor %}


        </div>
        <!-- End Last Uploaded Photos Section -->
    {% endif %}
    </div>
    <!-- End Profile Details Section -->

{% endblock %}