{% extends "base.html" %}
{% block content %}

        <h1>My Notes</h1>

        {% if not user.note_set.all %}
        <h2>There are no notes.</h2>
        <!--notes container-->
        {% else %}
        {% for note in user.note_set.all %}
        <div class="note-container">
            <h2>{{ note.title }} <img src="{{ note.image_url}}"  alt=""/></h2>

            <div class="right">
                <a class="button details" href="{% url 'note details' note.pk %}">Details</a>
                <a class="button edit" href="{% url 'edit note' note.pk %}">Edit</a>
                <a class="button delete" href="{% url 'delete note' note.pk %}">Delete</a>
            </div>
        </div>
        {% endfor %}

        <!--end notes container-->
        {% endif %}
{% endblock %}
